<hr>

<footer id="colorlib-footer" role="contentinfo" style="padding-top:24px!important;">
  <div class="container">
    <div class="row row-pb-md" style="padding-bottom:0!important;">
      <div class="col footer-col colorlib-widget">
        <h4>About CourseOnline</h4>
        <p>{ CourseOnline__ } is the place where dreams come true. We provide all the courses free off cost, to help you build a better future</p>
        <p>
          <ul class="colorlib-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="https://github.com/goelaakash79/"><i class="icon-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/goelaakash79/"><i class="icon-linkedin"></i></a></li>
            <li><a href="https://www.instgram.com/goelaakash79/"><i class="icon-insatgram"></i></a></li>
          </ul>
        </p>
      </div>
      <div class="col footer-col colorlib-widget">
        <h4>Customer Care</h4>
        <p>
          <ul class="colorlib-footer-links">
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Returns/Exchange</a></li>
            <li><a href="#">Gift Voucher</a></li>
          </ul>
        </p>
      </div>
      <div class="col footer-col colorlib-widget">
        <h4>Information</h4>
        <p>
          <ul class="colorlib-footer-links">
            <li><a href="/about">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </p>
      </div>

      <div class="col footer-col">
        <h4>Contact Information</h4>
        <ul class="colorlib-footer-links">
          <li>KIET Group of Institutions, <br> NH-58, Ghaziabad</li>
          <li><a href="tel://1234567920">+91 8791431819</a></li>
          <li><a href="mailto:goelaakash79@gmail.com">goelaakash79@gmail.com</a></li>
          <li><a href="#">showmymovie.herokuapp.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>
          <span>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://linkedin.com/in/goelaakash79" target="_blank">Aakash Goel</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- popper -->
<script src="js/popper.min.js"></script>
<!-- bootstrap 4.1 -->
<script src="js/bootstrap.min.js"></script>
<!-- jQuery easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="js/bootstrap-datepicker.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>

</html>
