<!DOCTYPE HTML>
<html>

<head>
  <title>CourseOnline</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="css/ionicons.min.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="css/magnific-popup.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css">

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- Date Picker -->
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <!-- Flaticons  -->
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <!-- Theme style  -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="colorlib-loader"></div>

  <div id="page">
    <nav class="colorlib-nav" role="navigation">
      <div class="top-menu" style="padding-top:16px!important;">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-md-7">
              <div id="colorlib-logo"><a href="/">CourseOnline</a></div>
            </div>
            <div class="col-sm-7 col-md-5">
              <div class="col-sm-12 menu-1">
                <ul style="float:right;">
                  <li><a href="/">Home</a></li>
                  <li><a href="/courses">Courses</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <!-- <li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li> -->
                </ul>
              </div>
              <!-- <form action="#" class="search-wrap">
                <div class="form-group">
                  <span class="btn btn-primary form" style="float:right;" type="submit">Login / Signup</span>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
