<% include partials/header %>

	<hr>

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="/">Home</a></span> / <span>About</span></p>
				</div>
			</div>
		</div>
	</div>


	<div class="colorlib-about" style="padding-top:32px!important; padding-bottom:0px;">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-sm-6 mb-3">
					<div class="video colorlib-video" style="background-image: url(images/about.jpg);">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="about-wrap">
						<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam vel saepe tempore similique nemo nobis. Incidunt eligendi iure temporibus, atque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam beatae nulla quod, reprehenderit perferendis, nemo dolorum cum non quia dicta quae sint rerum corporis id architecto necessitatibus cumque in laboriosam odio provident, vero. Fuga inventore, molestiae quod sint beatae. Similique.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio quae perferendis architecto rem, pariatur placeay.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include partials/footer %>
